<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Chat simples utilizando Websocket, Vue.JS e PHP</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chat.css">

</head>
<body>

<div id="app" class="container">

    <h1 class="text-center">Chat simples utilizando Websocket, Vue.JS e PHP</h1>

    <div id="messages">
        <div class="col s12">
            <ul class="list-unstyled" v-cloak>
                <li v-for="message in messages">
                    <span class="date" v-if="message.date">[{{ message.date }}]</span>
                    <span class="name" v-if="message.user">{{ message.user }}:</span>
                    <span class="text" :style="{ color: message.color }">
                        {{ message.text }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-3">
            <input type="text" class="form-control" placeholder="Usuário" v-model="user">
        </div>

        <div class="col-9">
            <input type="text" class="form-control" placeholder="Mensagem" v-model="text"
                   @keyup.enter="sendMessage">
        </div>

    </div>

</div>

<script type="text/javascript" src="js/lib/vue.min.js"></script>
<script type="text/javascript" src="js/chat.js"></script>
</body>
</html>