body {
    background-color: #F1F1F1;
}

#messages span.name {
    font-weight: bold;
}

#messages span.date {
    color: #999;
}

#messages {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #CCC;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

[v-cloak] { display:none; }